# ======================
# MySQL Configuration
# ======================
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress

# ======================
# WordPress Configuration
# ======================
WORDPRESS_DB_HOST=mysql:3306
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_DB_NAME=wordpress
WORDPRESS_TABLE_PREFIX=wp_

# Site setup (used by wp core install)
WORDPRESS_URL=http://sec.wiserabbit.com:81
WORDPRESS_TITLE=WiseRabbit Secondary
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=admin
WORDPRESS_ADMIN_EMAIL=admin@sec.wiserabbit.local

# ======================
# phpMyAdmin Configuration
# ======================
PMA_HOST=mysql
PMA_ABSOLUTE_URI=http://sec.wiserabbit.com:81/pma/

# ======================
# Plugins
# ======================
INSTALL_PLUGINS=
ACTIVATE_PLUGINS=wr-slot-consumer

# ======================
# Themes
# ======================
INSTALL_THEMES=twentytwentyfive
ACTIVATE_THEMES=twentytwentyfive

# ======================
# Environment
# ======================
# dev = info logs + no SSL verify | prod = error logs only + SSL verify
ENVIRONMENT=dev

# ======================
# Theme
# ======================
# Set to true to enable frontend theme
WR_THEME_ENABLED=true
